.h1-title {
    text-align: center;
    padding: 30px;
    font-family: fantasy;
    font-size: 60px;
    background-color: rgb(255, 200, 0);
    border-bottom: 2px black solid;
}

.first-part {
    padding: 50px;
    display: grid;
    grid-auto-flow: column;
    background-color: rgb(255, 200, 0);
}

.left-part {
    padding: 50px;
    width: 600px;
}

.left-part h1 {
    font-size: 80px;
    padding-bottom: 20px;
}

.left-part p {
    font-size: 26px;
}

.right-part {
    margin-top: 50px;
}

.all-posts {
    width: 100%;
}

.all-posts ul {
    list-style: none;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    margin-left: 23%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.all-posts ul a {
    color: black;
    text-decoration: none;
}

.all-posts-li {
    display: grid;
    grid-auto-flow: row;
    border: 3px solid rgba(128, 128, 128, 0.668);
    border-radius: 20px;
    width: 78%;
    padding: 22px;
}

.user-part {
    display: grid;
    grid-auto-flow: column;
    width: 15%;
}

.user-part img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-part h3 {
    font-size: 18px;
    padding-top: 10px;
}

.post-content {
    padding: 20px;
}

.post-content img {
    width: 800px;
    padding-bottom: 20px;
}

.post-content p {
    width: 800px;
    font-size: 18px;
    text-align: justify;
}

.like-comment {
    display: grid;
    grid-auto-flow: column;
    width: 300px;
}

.get-comment {
    padding: 20px;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}

.get-comment li {
    list-style: none;
}

.each-post {
    border: 3px solid rgba(128, 128, 128, 0.668);
    border-radius: 20px;
    width: 60%;
    padding: 22px;
    margin-left: 21.5%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.new-comment-input {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    width: 90%;
    margin-left: 5%;
}

.new-comment-input textarea {
    padding: 10px;
    border-radius: 20px;
}

.new-comment-input button {
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    border: none;
}

.new-posts-inputs h1 {
    text-align: center;
    padding: 20px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-new-post {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 46%;
    margin-left: 30%;
}

.add-new-post input {
    padding: 30px;
    border-radius: 8px;
}

.new-posts-inputs button {
    width: 150px;
    padding: 10px;
    font-size: large;
    font-family: fantasy;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    margin-left: 47%;
    margin-top: 30px;
}